.header{
  padding: 93px 70px 96px 51px;
  display: flex;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  gap: 180px;
}

/*левая чать хэдера с меню и логотипом*/
.menu_logo__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 41px;
}

/*Навигационная панель*/
.menu_heder{
  display: flex;
  flex-direction: row;
  gap: 31px;
  list-style-type: circle;
  width: 392px;
}

.menu__elem{
  letter-spacing: 0.18px;
}

.menu__active-elemen{
  list-style-type: none;
}

.active__href{
  text-decoration: none;
}

.not-active__href{
  text-underline-offset: 4px;
}

.contacts_link{
  text-underline-offset: 4px;
}

.logo__img-dark{
  background-image: url("../images/logo-black.svg");
  background-repeat: no-repeat;
  height: 105px;
  width: 148px;
}

.contacts{
  width:230px;
  line-height: 24.3px; /* 135% */
  letter-spacing: 0.18px;
}

.adress{
 letter-spacing: -0.01px; 
}

.tint{
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
}

.cover{
  background-image: url("../images/cover.jpg");
  background-position: center center;
  background-size: cover;
  color: #FFF;
  padding: 165px 50px 51px 50px;
  box-sizing: border-box;
}

.title{
  padding: 0 0 125px 0;
  font-size: 100px;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
}

.title__left{
  display: inline-block;
  text-align: left;
  width:100%;
  line-height: 115%;
}

.title__center{
  display: inline-block;
  width:94%;
  text-align: center;
  line-height: 129%;
}

.title__right{
  display: inline-block;
  width:100%;
  text-align: right;
  line-height: 100%;
}

.letter-spacing__small{
  letter-spacing: 0.3em;
}

.letter-spacing__medium{
  letter-spacing: 0.6em;
}

.cover__subtitle{
  display: flex;
  gap: 60px;
  align-items: center;
}

.cover__text{
  padding: 0 0 0 28px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.letter-spacing__big{
  letter-spacing: 0.84em;
}

.button_cover{
  width: 256px;
  height: 51px;
  color:#FFF;
  font-family: Raleway, sans-serif;
  background-color: rgba(255, 255, 255, 0);
  border: 1px #FFF solid;
  text-transform: uppercase;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  padding: 12px 32px 11px 31px;
}

.lots{
  padding: 179px 24px 0 24px;
  box-sizing: border-box;
}

.section__title{
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__title{
  padding: 0 0 27px 40px;
}

.cards{
  display: flex;
  gap:25px;
  padding: 0 0 30px 0;
  flex-wrap: wrap;
}

.card{
  width:334px;
  min-height:563px;
  box-sizing: border-box;
  padding: 51px 40px 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFF;
  background-position: center center;
  background-size: cover;
}

.card__title{
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 2px;
}

.card__text{
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
}

.card__lot-1{
  background-image: url("../images/card-lot-01.jpg");
}

.card__lot-2{
  background-image: url("../images/card-lot-02.jpg");
}

.card__lot-3{
  background-image: url("../images/card-lot-03.jpg");
}

.button_lots{
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-underline-offset: 3px;
  padding: 0 0 0 40px;
}

.about{
  padding: 183px 24px 181px 71px;
  display: flex;
  gap: 72px;
}

.logo__circle{
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__img-light{
  width: 148px;
  height: 114px;
}

.about__title{
  padding: 100px 0 98px 0;
}

.about__text{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 690px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 20px;
}

.footer{
  padding: 0 50px 88px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__letter_spacing{
  letter-spacing: 1.2px;
}

.menu_footer{
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.media{
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.media_link{
  height: 48px;
  width: 48px;
}
